## Exercise 1: Exceptional Olympians

Scrape data from [this wikipedia site](https://en.wikipedia.org/wiki/List_of_multiple_Olympic_medalists) about exceptional Olympic medalists. 

1. Download the html using urllib. 
2. Parse this html with BeautifulSoup.
3. Extract the html that corresponds to the big table from the soup.
4. Parse the table into a pandas dataframe. Hint: both the "No." and the "Total." column use row-spans which are tricky to parse, both with a pandas reader and manually. For the purpose of this exercise, exclude all rows that are not easy to parse (the first one is Bjørn Dæhlie).
5. Create a table that shows for each country how many gold, silver, bronze, and total medals it won in that list.

In [2]:
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd

Download the html using urllib. 
Parse this html with BeautifulSoup.

In [7]:
# 1 Download the html using urllib
url = "https://en.wikipedia.org/wiki/List_of_multiple_Olympic_medalists"

with urllib.request.urlopen(url) as response:
    html = response.read()
    html = html.decode('utf-8')

# 2 Parse this html with BeautifulSoup
soup = BeautifulSoup(html, 'html.parser')

# 3 Extract the html that corresponds to the big table from the soup
data = soup.select("table.wikitable")[0]

In [128]:
# 4 Parse the table into a pandas dataframe
headers_base = data.find_all('th')
headers = pd.Series([tag.get_text() for tag in headers_base]).str.replace('\n','')
rows_base = data.select('td')
rows = [tag.get_text() for tag in rows_base]

# Set up lists for adding data
count = 0
no = []
athlete = []
nation = []
sport = []
years = []
games = []
gender = []
gold = []
silver = []
bronze = []

gender = ['M','F']

# Iterate through the rows and assign to the appropriate columns
for i in rows:
    if i in gender:
        count = 6
#     if '\n' in i:
#         count = 0
    if '\xa0' in i:
        count = 2
        
        
    if count == 0:
        no.append(i)
        count += 1
    elif count == 1:
        try:
            if isinstance(int(i), int):
                no.append(i)
                count = 1
        except:
            athlete.append(i)
            count += 1
    elif count == 2:
        nation.append(i)
        count += 1
    elif count == 3:
        sport.append(i)
        count += 1  
    elif count == 4:
        years.append(i)
        count += 1 
    elif count == 5:
        games.append(i)
        count += 1 
    elif count == 6:
        gender.append(i)
        count += 1 
    elif count == 7:
        gold.append(i)
        count += 1 
    elif count == 8:
        silver.append(i)
        count += 1 
    else:
        bronze.append(i)
        count = 0

data_df_base = {}
raw_data = [no, athlete, nation, sport, years, games, gender, gold, silver, bronze]

for index, value in enumerate(headers[:10]):
    data_df_base[value] = raw_data[index]

# Removed rows with inconsistent lengths
del data_df_base['No.']
del data_df_base['Athlete']
del data_df_base['Gender']

# 5 Create a table that shows for each country how many gold, silver, bronze, and total medals it won in that list.
# Convert to a dataframe
data_df = pd.DataFrame(data_df_base)

# Clean the dataframe
data_df['Bronze'] = data_df['Bronze'].str.replace('\n','') 
data_df.loc[:,['Gold', 'Silver', 'Bronze']] = data_df.loc[:,['Gold', 'Silver', 'Bronze']].astype(int)

# Create final output
data_df.groupby(['Nation'])[['Gold','Silver','Bronze']].agg('sum')

                                       Gold  Silver  Bronze
Nation
 Australia                               24      22      10
 Austria                                  3       1       3
 Belgium                                  6       3       0
 China                                    5       1       1
 Czechoslovakia                           7       4       0
 East Germany                            14      18       6
 East Germany  Germany                    8       4       0
 Finland                                 30      13      14
 France                                  11      10       2
 Germany                                 24      23      15
 Great Britain                           17       3       2
 Hungary                                 30      15      12
 Italy                                   26      23      22
 Jamaica                                 11       6       8
 Japan                                   36      17      12
 Kazakhstan                               1       4       2
 Netherlands                             19      16       9
 Norway                                  44      24      10
 Poland                                   3       2       2
 Romania                                 17       9       5
 Russia                                   8       8      10
 South Korea  Russia                      6       0       2
 Soviet Union                            53      48      26
 Soviet Union Unified Team                4       5       1
 Sweden                                  22      19       8
 Switzerland                              4       3       1
 Unified Team  Belarus                    6       0       4
 Unified Team  Russia                    13       6       5
 Unified Team Russia                      7       5       4
 United States                          143      57      42
 United Team of Germany  West Germany    11       1       3
 Zimbabwe                                 2       4       1

## Exercise 2 – APIs

Use the [Open Notify API](http://open-notify.org/Open-Notify-API/People-In-Space/) to find out how many people are in space right now.

In [127]:
# import requests